.mediaViewInfo {
	--web-view-name: Student profile edit;
	--web-view-id: Student_profile_edit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Student_profile_edit;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Student_profile_edit {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1418px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Student profile edit;
	--web-view-id: Student_profile_edit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 2005px;
	height: 117px;
	left: -51px;
	top: 86px;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 1483px;
	left: -31px;
	top: -43px;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1834px;
	height: 86px;
	left: 120px;
	top: 0px;
}
#Component {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 1619px;
	top: 19px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.user {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#James {
	position: absolute;
	left: 63px;
	top: 13px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 126px;
	top: 27px;
	overflow: visible;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A1_Component_2 {
	position: absolute;
	width: 60px;
	height: 27px;
	left: 1810px;
	top: 32px;
	overflow: visible;
}
#Help {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3_A1_Group_3 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 45px;
	top: 14px;
	overflow: visible;
}
.Polygon_1_A1_Polygon_2 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(35px, -6px) matrix(1,0,0,1,-35,6) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A1_Component_3 {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 1516px;
	top: 19px;
	overflow: visible;
}
.notification {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 31px;
	top: 5px;
}
#Component_A1_Component_4 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 243px;
	overflow: visible;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.house {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Events {
	position: absolute;
	left: 32px;
	top: 78px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Component_A1_Component_5 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 363px;
	overflow: visible;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.calendar {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Calendar {
	position: absolute;
	left: 21px;
	top: 78px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_6 {
	position: absolute;
	width: 71.071px;
	height: 40px;
	left: 180px;
	top: 23px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 71.071px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#ID13_30 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Group_5 {
	position: absolute;
	width: 205px;
	height: 40px;
	left: 282px;
	top: 23px;
	overflow: visible;
}
.Path_1_A1_Path_2 {
	overflow: visible;
	position: absolute;
	width: 137px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#October_5_2019 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Component_A1_Component_6 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 483px;
	overflow: visible;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.team {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Staff {
	position: absolute;
	left: 40px;
	top: 78px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.help {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 20px;
	top: 30px;
}
#Name_ {
	position: absolute;
	left: 180px;
	top: 98px;
	overflow: hidden;
	width: 341px;
	height: 94px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 185px;
	top: 361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 185px;
	top: 361px;
	transform: matrix(1,0,0,1,0,0);
}
.Polygon_5 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 40px;
	transform: matrix(1,0,0,1,203,401) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Back {
	position: absolute;
	left: 202px;
	top: 481px;
	overflow: hidden;
	width: 67px;
	height: 44px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.user_A1_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 300px;
	left: 385px;
	top: 271px;
}
#Email {
	position: absolute;
	left: 750px;
	top: 593px;
	overflow: hidden;
	width: 176px;
	height: 57px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Student_Number {
	position: absolute;
	left: 750px;
	top: 423px;
	overflow: hidden;
	width: 339px;
	height: 49px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Course {
	position: absolute;
	left: 750px;
	top: 503px;
	overflow: hidden;
	width: 252px;
	height: 59px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Tel_Number {
	position: absolute;
	left: 750px;
	top: 681px;
	overflow: hidden;
	width: 225px;
	height: 55px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Date_of_Dirth {
	position: absolute;
	left: 750px;
	top: 767px;
	overflow: hidden;
	width: 252px;
	height: 55px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Gender {
	position: absolute;
	left: 750px;
	top: 853px;
	overflow: hidden;
	width: 154px;
	height: 55px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Skills {
	position: absolute;
	left: 1330px;
	top: 421px;
	overflow: hidden;
	width: 125px;
	height: 64px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 159px;
	height: 3px;
	left: 1330.5px;
	top: 473.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_55 {
	position: absolute;
	width: 154px;
	height: 64px;
	left: 1330px;
	top: 473px;
	overflow: visible;
}
#Skill {
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: hidden;
	width: 125px;
	height: 64px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 22px;
}
#Group_54 {
	position: absolute;
	width: 154px;
	height: 64px;
	left: 1330px;
	top: 525px;
	overflow: visible;
}
#Skill_A1_Text_18 {
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: hidden;
	width: 125px;
	height: 64px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 22px;
}
#Group_56 {
	position: absolute;
	width: 154px;
	height: 64px;
	left: 1330px;
	top: 578px;
	overflow: visible;
}
#Skill_A1_Text_19 {
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: hidden;
	width: 125px;
	height: 64px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Ellipse_22_A1_Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 22px;
}
#Group_57 {
	position: absolute;
	width: 154px;
	height: 64px;
	left: 1330px;
	top: 633px;
	overflow: visible;
}
#Skill_A1_Text_20 {
	position: absolute;
	left: 30px;
	top: 0px;
	overflow: hidden;
	width: 125px;
	height: 64px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Ellipse_22_A1_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 22px;
}
#Group_114 {
	position: absolute;
	width: 781px;
	height: 384px;
	left: 750px;
	top: 988px;
	overflow: visible;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 726px;
	height: 35px;
	left: 0px;
	top: 109px;
}
#Event {
	position: absolute;
	left: 7px;
	top: 108px;
	overflow: hidden;
	width: 62px;
	height: 36px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Venue_ {
	position: absolute;
	left: 270px;
	top: 108px;
	overflow: hidden;
	width: 77px;
	height: 36px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Date_of_Event {
	position: absolute;
	left: 548px;
	top: 108px;
	overflow: hidden;
	width: 150px;
	height: 36px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 726px;
	height: 80px;
	left: 0px;
	top: 145px;
}
#Event_Name {
	position: absolute;
	left: 37px;
	top: 159px;
	overflow: hidden;
	width: 188px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Venue_Name {
	position: absolute;
	left: 286px;
	top: 159px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#ID00_00_00 {
	position: absolute;
	left: 564px;
	top: 159px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Line_3 {
	opacity: 0.38;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 270.191px;
	top: 166.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	opacity: 0.38;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 547.93px;
	top: 166.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_42_A1_Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 726px;
	height: 80px;
	left: 0px;
	top: 304px;
}
#Event_Name_A1_Text_27 {
	position: absolute;
	left: 37px;
	top: 318px;
	overflow: hidden;
	width: 188px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Venue_Name_A1_Text_28 {
	position: absolute;
	left: 286px;
	top: 318px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#ID00_00_00_A1_Text_29 {
	position: absolute;
	left: 564px;
	top: 318px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Line_3_A1_Line_4 {
	opacity: 0.38;
}
.Line_3_A1_Line_4 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 270.191px;
	top: 325.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_A1_Line_5 {
	opacity: 0.38;
}
.Line_4_A1_Line_5 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 547.93px;
	top: 325.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 726px;
	height: 80px;
	left: 0px;
	top: 225px;
}
#Event_Name_A1_Text_30 {
	position: absolute;
	left: 38px;
	top: 240px;
	overflow: hidden;
	width: 188px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Venue_Name_A1_Text_31 {
	position: absolute;
	left: 287px;
	top: 240px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#ID00_00_00_A1_Text_32 {
	position: absolute;
	left: 565px;
	top: 240px;
	overflow: hidden;
	width: 217px;
	height: 47px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Line_3_A1_Line_6 {
	opacity: 0.38;
}
.Line_3_A1_Line_6 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 271.191px;
	top: 247.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_A1_Line_7 {
	opacity: 0.38;
}
.Line_4_A1_Line_7 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 39px;
	left: 548.93px;
	top: 247.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_98 {
	position: absolute;
	width: 96px;
	height: 30px;
	left: 0px;
	top: 69px;
	overflow: visible;
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 29px;
	left: 0px;
	top: 1px;
}
#Sort_By {
	position: absolute;
	left: 8px;
	top: 0px;
	overflow: hidden;
	width: 64px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Polygon_6 {
	overflow: visible;
	position: absolute;
	width: 10px;
	height: 10px;
	transform: translate(-439px, -824px) matrix(1,0,0,1,516,838) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_113 {
	position: absolute;
	width: 350.5px;
	height: 49.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Previous_Events {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 284px;
	height: 49px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 350px;
	height: 3px;
	left: 0.5px;
	top: 49.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_118 {
	position: absolute;
	width: 357px;
	height: 129px;
	left: 1516px;
	top: 230px;
	overflow: visible;
}
#Group_87 {
	position: absolute;
	width: 354px;
	height: 51px;
	left: 3px;
	top: 0px;
	overflow: visible;
}
#Group_53 {
	position: absolute;
	width: 354px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Save_Student_Profile {
	position: absolute;
	left: 45px;
	top: 6px;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Group_88 {
	position: absolute;
	width: 354px;
	height: 51px;
	left: 0px;
	top: 78px;
	overflow: visible;
}
#Group_53_A1_Group_17 {
	position: absolute;
	width: 354px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_32_A1_Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Delete_Student_Profile {
	position: absolute;
	left: 33px;
	top: 6px;
	overflow: visible;
	width: 289px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}