<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Home</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="HomeCSS.css"/>
<script id="applicationScript" type="text/javascript" src="HomeScript.js"></script>
</head>
<body>
<div id="Home" class="">
	<svg class="Rectangle_15">
		<rect fill="rgba(112,112,112,1)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="1834" height="117">
		</rect>
	</svg>
	<svg class="Rectangle_13">
		<rect fill="rgba(47,44,48,1)" id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="166" height="1174">
		</rect>
	</svg>
	<svg class="Rectangle_14">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="1834" height="86">
		</rect>
	</svg>
	<div id="Component" class="Component">
		<div id="Group_4">
			<svg class="user">
				<pattern elementId="user_A7_Rectangle_324" id="user_A7_Rectangle_324_pattern" x="0" y="0" width="100%" height="100%">
					<image x="0" y="0" width="100%" height="100%" href="user_A7_Rectangle_324_pattern.png" xlink:href="user_A7_Rectangle_324_pattern.png"></image>
				</pattern>
				<rect fill="url(#user_A7_Rectangle_324_pattern)" id="user" rx="0" ry="0" x="0" y="0" width="53" height="53">
				</rect>
			</svg>
			<div id="James">
				<span>James</span>
			</div>
			<div id="Group_3">
				<svg class="Polygon_1" viewBox="0 0 15 10">
					<path fill="rgba(112,112,112,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_1" d="M 7.499999523162842 0 L 15.00000095367432 10 L 0 10 Z">
					</path>
				</svg>
			</div>
		</div>
	</div>
	<div id="Component_A7_Component_70" class="Component">
		<div id="Help">
			<span>Help</span>
		</div>
		<div id="Group_3_A7_Group_254">
			<svg class="Polygon_1_A7_Polygon_23" viewBox="0 0 15 10">
				<path fill="rgba(112,112,112,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Polygon_1_A7_Polygon_23" d="M 7.499999523162842 0 L 15.00000095367432 10 L 0 10 Z">
				</path>
			</svg>
		</div>
	</div>
	<div id="Component_A7_Component_71" class="Component">
		<svg class="notification">
			<pattern elementId="notification_A7_Rectangle_326" id="notification_A7_Rectangle_326_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="notification_A7_Rectangle_326_pattern.png" xlink:href="notification_A7_Rectangle_326_pattern.png"></image>
			</pattern>
			<rect fill="url(#notification_A7_Rectangle_326_pattern)" id="notification" rx="0" ry="0" x="0" y="0" width="53" height="53">
			</rect>
		</svg>
		<svg class="Ellipse_2">
			<ellipse fill="rgba(255,0,0,1)" id="Ellipse_2" rx="9" ry="9" cx="9" cy="9">
			</ellipse>
		</svg>
	</div>
	<div id="Component_A7_Component_72" class="Component">
		<svg class="Path_6" viewBox="0 0 120 120">
			<path fill="rgba(255,255,255,1)" id="Path_6" d="M 0 0 L 105.6249923706055 0 L 119.9999923706055 0 L 119.9999923706055 120 L 0 120 L 0 0 Z">
			</path>
		</svg>
		<svg class="house">
			<pattern elementId="house_A7_Rectangle_328" id="house_A7_Rectangle_328_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="house_A7_Rectangle_328_pattern.png" xlink:href="house_A7_Rectangle_328_pattern.png"></image>
			</pattern>
			<rect fill="url(#house_A7_Rectangle_328_pattern)" id="house" rx="0" ry="0" x="0" y="0" width="50" height="50">
			</rect>
		</svg>
		<div id="Events">
			<span>Events</span>
		</div>
	</div>
	<div id="Component_A7_Component_73" class="Component">
		<svg class="Rectangle_17">
			<rect fill="transparent" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="120" height="120">
			</rect>
		</svg>
		<svg class="calendar">
			<pattern elementId="calendar_A7_Rectangle_331" id="calendar_A7_Rectangle_331_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="calendar_A7_Rectangle_331_pattern.png" xlink:href="calendar_A7_Rectangle_331_pattern.png"></image>
			</pattern>
			<rect fill="url(#calendar_A7_Rectangle_331_pattern)" id="calendar" rx="0" ry="0" x="0" y="0" width="50" height="50">
			</rect>
		</svg>
		<div id="Calendar">
			<span>Calendar</span>
		</div>
	</div>
	<div id="Group_6">
		<svg class="Path_1" viewBox="0 0 71.071 27">
			<path fill="rgba(255,255,255,1)" id="Path_1" d="M 0 0 L 71.0712890625 0 L 71.0712890625 27 L 0 27 L 0 0 Z">
			</path>
		</svg>
		<div id="ID13_30">
			<span>13:30</span>
		</div>
	</div>
	<div id="Group_5">
		<svg class="Path_1_A7_Path_46" viewBox="0 0 137 27">
			<path fill="rgba(255,255,255,1)" id="Path_1_A7_Path_46" d="M 0 0 L 137 0 L 137 27 L 0 27 L 0 0 Z">
			</path>
		</svg>
		<div id="October_5_2019">
			<span>October 5 2019</span>
		</div>
	</div>
	<div id="Component_A7_Component_74" class="Component">
		<svg class="Path_2" viewBox="0 0 120 120">
			<path fill="transparent" id="Path_2" d="M 0 0 L 120 0 L 120 120 L 0 120 L 0 0 Z">
			</path>
		</svg>
		<svg class="team">
			<pattern elementId="team_A7_Rectangle_333" id="team_A7_Rectangle_333_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="team_A7_Rectangle_333_pattern.png" xlink:href="team_A7_Rectangle_333_pattern.png"></image>
			</pattern>
			<rect fill="url(#team_A7_Rectangle_333_pattern)" id="team" rx="0" ry="0" x="0" y="0" width="50" height="50">
			</rect>
		</svg>
		<div id="Staff">
			<span>Staff</span>
		</div>
	</div>
	<div id="Component_A7_Component_75" class="Component">
		<svg class="Rectangle_18">
			<rect fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_18" rx="24" ry="24" x="0" y="0" width="354" height="48">
			</rect>
		</svg>
		<svg class="loupe">
			<pattern elementId="loupe_A7_Rectangle_336" id="loupe_A7_Rectangle_336_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="loupe_A7_Rectangle_336_pattern.png" xlink:href="loupe_A7_Rectangle_336_pattern.png"></image>
			</pattern>
			<rect fill="url(#loupe_A7_Rectangle_336_pattern)" id="loupe" rx="0" ry="0" x="0" y="0" width="30" height="30">
			</rect>
		</svg>
		<div id="Search_Events">
			<span>Search Events</span>
		</div>
	</div>
	<div id="Component_3" class="Component_3">
		<svg class="Rectangle_18_A7_Rectangle_337">
			<rect fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_18_A7_Rectangle_337" rx="24" ry="24" x="0" y="0" width="354" height="48">
			</rect>
		</svg>
		<svg class="loupe_A7_Rectangle_338">
			<pattern elementId="loupe_A7_Rectangle_339" id="loupe_A7_Rectangle_339_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="loupe_A7_Rectangle_339_pattern.png" xlink:href="loupe_A7_Rectangle_339_pattern.png"></image>
			</pattern>
			<rect fill="url(#loupe_A7_Rectangle_339_pattern)" id="loupe_A7_Rectangle_338" rx="0" ry="0" x="0" y="0" width="30" height="30">
			</rect>
		</svg>
		<div id="Search_Events_A7_Text_595">
			<span>Search Events</span>
		</div>
	</div>
	<div id="Component_A7_Component_77" class="Component">
		<svg class="Path_3" viewBox="0 0 100 120">
			<path fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_3" d="M 13 0 L 87 0 C 94.17970275878906 0 100 5.820297718048096 100 13 L 100 107 C 100 114.1797027587891 94.17970275878906 120 87 120 L 13 120 C 5.820297718048096 120 0 114.1797027587891 0 107 L 0 13 C 0 5.820297718048096 5.820297718048096 0 13 0 Z">
			</path>
		</svg>
		<svg class="Path_4" viewBox="0 0 100 120">
			<path fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_4" d="M 13 0 L 87 0 C 94.17970275878906 0 100 5.820297718048096 100 13 L 100 107 C 100 114.1797027587891 94.17970275878906 120 87 120 L 13 120 C 5.820297718048096 120 0 114.1797027587891 0 107 L 0 13 C 0 5.820297718048096 5.820297718048096 0 13 0 Z">
			</path>
		</svg>
		<svg class="add_A7_Rectangle_342">
			<pattern elementId="add_A7_Rectangle_343" id="add_A7_Rectangle_343_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="add_A7_Rectangle_343_pattern.png" xlink:href="add_A7_Rectangle_343_pattern.png"></image>
			</pattern>
			<rect fill="url(#add_A7_Rectangle_343_pattern)" id="add_A7_Rectangle_342" rx="0" ry="0" x="0" y="0" width="60" height="60">
			</rect>
		</svg>
		<svg class="add_A7_Rectangle_342">
			<pattern elementId="add_A7_Rectangle_343" id="add_A7_Rectangle_343_pattern" x="0" y="0" width="100%" height="100%">
				<image x="0" y="0" width="100%" height="100%" href="add_A7_Rectangle_343_pattern.png" xlink:href="add_A7_Rectangle_343_pattern.png"></image>
			</pattern>
			<rect fill="url(#add_A7_Rectangle_343_pattern)" id="add_A7_Rectangle_342" rx="0" ry="0" x="0" y="0" width="60" height="60">
			</rect>
		</svg>
		<div id="Create__New_Event_A7_Text_597">
			<span>Create <br/>New Event</span>
		</div>
		<div id="Create__New_Event_A7_Text_597">
			<span>Create <br/>New Event</span>
		</div>
	</div>
	<div id="Component_1" class="Component_1">
		<div id="Group_10">
			<div id="Group_9">
				<div id="Group_7">
					<svg class="Rectangle_20">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name">
						<span>Event Name</span>
					</div>
					<div id="Venue_">
						<span>Venue </span>
					</div>
					<div id="Client_">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_5" class="Component_5">
		<div id="Group_10_A7_Group_260">
			<div id="Group_9_A7_Group_261">
				<div id="Group_7_A7_Group_262">
					<svg class="Rectangle_20_A7_Rectangle_345">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_345" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_604">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_605">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_606">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_607">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_608">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_609">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_6" class="Component_6">
		<div id="Group_10_A7_Group_263">
			<div id="Group_9_A7_Group_264">
				<div id="Group_7_A7_Group_265">
					<svg class="Rectangle_20_A7_Rectangle_346">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_346" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_610">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_611">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_612">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_613">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_614">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_615">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_7" class="Component_7">
		<div id="Group_10_A7_Group_266">
			<div id="Group_9_A7_Group_267">
				<div id="Group_7_A7_Group_268">
					<svg class="Rectangle_20_A7_Rectangle_347">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_347" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_616">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_617">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_618">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_619">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_620">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_621">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_8" class="Component_8">
		<div id="Group_10_A7_Group_269">
			<div id="Group_9_A7_Group_270">
				<div id="Group_7_A7_Group_271">
					<svg class="Rectangle_20_A7_Rectangle_348">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_348" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_622">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_623">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_624">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_625">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_626">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_627">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_2" class="Component_2">
		<div id="Group_10_A7_Group_272">
			<div id="Group_9_A7_Group_273">
				<div id="Group_7_A7_Group_274">
					<svg class="Rectangle_20_A7_Rectangle_349">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_349" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_628">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_629">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_630">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_631">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_632">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_633">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_3_A7_Component_84" class="Component_3">
		<div id="Group_10_A7_Group_275">
			<div id="Group_9_A7_Group_276">
				<div id="Group_7_A7_Group_277">
					<svg class="Rectangle_20_A7_Rectangle_350">
						<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_20_A7_Rectangle_350" rx="13" ry="13" x="0" y="0" width="282" height="406">
						</rect>
					</svg>
					<div id="IN_2_DAYS_A7_Text_634">
						<span>IN 2 DAYS</span>
					</div>
					<div id="Event_Name_A7_Text_635">
						<span>Event Name</span>
					</div>
					<div id="Venue__A7_Text_636">
						<span>Venue </span>
					</div>
					<div id="Client__A7_Text_637">
						<span>Client:</span>
					</div>
					<div id="Date_of_Event_A7_Text_638">
						<span>Date of Event</span>
					</div>
					<div id="Last_Updated_A7_Text_639">
						<span>Last Updated</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="Component_A7_Component_85" class="Component">
		<svg class="Path_5" viewBox="0 0 282 406">
			<path fill="rgba(112,112,112,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_5" d="M 13 0 L 269 0 C 276.1796875 0 282 5.820297718048096 282 13 L 282 393 C 282 400.1796875 276.1796875 406 269 406 L 13 406 C 5.820297718048096 406 0 400.1796875 0 393 L 0 13 C 0 5.820297718048096 5.820297718048096 0 13 0 Z">
			</path>
		</svg>
		<div id="Active">
			<span>Active</span>
		</div>
		<div id="Event_Name_A7_Text_641">
			<span>Event Name</span>
		</div>
		<div id="Venue__A7_Text_642">
			<span>Venue </span>
		</div>
		<div id="Client__A7_Text_643">
			<span>Client:</span>
		</div>
		<div id="Date_of_Event_A7_Text_644">
			<span>Date of Event</span>
		</div>
		<div id="Last_Updated_A7_Text_645">
			<span>Last Updated</span>
		</div>
	</div>
	<div id="My_Events">
		<span>My Events</span>
	</div>
	<svg class="help">
		<pattern elementId="help_A7_Rectangle_352" id="help_A7_Rectangle_352_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="help_A7_Rectangle_352_pattern.png" xlink:href="help_A7_Rectangle_352_pattern.png"></image>
		</pattern>
		<rect fill="url(#help_A7_Rectangle_352_pattern)" id="help" rx="0" ry="0" x="0" y="0" width="80" height="80">
		</rect>
	</svg>
</div>
</body>
</html>
