.mediaViewInfo {
	--web-view-name: Event Staff;
	--web-view-id: Event_Staff;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Event_Staff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Event_Staff {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Event Staff;
	--web-view-id: Event_Staff;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 2005px;
	height: 117px;
	left: -51px;
	top: 86px;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 1176px;
	left: -31px;
	top: -43px;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1834px;
	height: 86px;
	left: 120px;
	top: 0px;
}
#Component {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 1619px;
	top: 19px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.user {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#James {
	position: absolute;
	left: 63px;
	top: 13px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 126px;
	top: 27px;
	overflow: visible;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A1_Component_8 {
	position: absolute;
	width: 60px;
	height: 27px;
	left: 1810px;
	top: 32px;
	overflow: visible;
}
#Help {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3_A1_Group_95 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 45px;
	top: 14px;
	overflow: visible;
}
.Polygon_1_A1_Polygon_5 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(35px, -6px) matrix(1,0,0,1,-35,6) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A1_Component_9 {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 1516px;
	top: 19px;
	overflow: visible;
}
.notification {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 31px;
	top: 5px;
}
#Component_A1_Component_10 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 243px;
	overflow: visible;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.house {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Events {
	position: absolute;
	left: 32px;
	top: 78px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Component_A1_Component_11 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 363px;
	overflow: visible;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.calendar {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Calendar {
	position: absolute;
	left: 21px;
	top: 78px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_6 {
	position: absolute;
	width: 71.071px;
	height: 40px;
	left: 180px;
	top: 23px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 71.071px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#ID13_30 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Group_5 {
	position: absolute;
	width: 205px;
	height: 40px;
	left: 282px;
	top: 23px;
	overflow: visible;
}
.Path_1_A1_Path_9 {
	overflow: visible;
	position: absolute;
	width: 137px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#October_5_2019 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Component_A1_Component_12 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 483px;
	overflow: visible;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.team {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Staff {
	position: absolute;
	left: 40px;
	top: 78px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.help {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 20px;
	top: 30px;
}
#Event_Name_ {
	position: absolute;
	left: 487px;
	top: 297px;
	overflow: hidden;
	width: 341px;
	height: 94px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 185px;
	top: 361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 185px;
	top: 361px;
	transform: matrix(1,0,0,1,0,0);
}
.Polygon_5 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 40px;
	transform: matrix(1,0,0,1,203,401) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Venue___Lorem_ipsum_dolor {
	position: absolute;
	left: 487px;
	top: 375px;
	overflow: hidden;
	width: 488px;
	height: 62px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Description {
	position: absolute;
	left: 1135px;
	top: 375px;
	overflow: hidden;
	width: 297px;
	height: 63px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Involvement_ {
	position: absolute;
	left: 1135px;
	top: 680px;
	overflow: hidden;
	width: 297px;
	height: 63px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Other_Staff__ {
	position: absolute;
	left: 487px;
	top: 680px;
	overflow: hidden;
	width: 297px;
	height: 63px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Lorem_ipsum_dolor_sit_amet__co {
	position: absolute;
	left: 1135px;
	top: 460px;
	overflow: hidden;
	width: 676px;
	height: 198px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Lorem_ipsum_dolor_sit_amet__co_A1_Text_187 {
	position: absolute;
	left: 1135px;
	top: 765px;
	overflow: hidden;
	width: 676px;
	height: 198px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Client___Lorem_ipsum_dolor {
	position: absolute;
	left: 487px;
	top: 462px;
	overflow: hidden;
	width: 441px;
	height: 60px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Date_of_Event__00_00_0000 {
	position: absolute;
	left: 487px;
	top: 547px;
	overflow: hidden;
	width: 474px;
	height: 60px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Back {
	position: absolute;
	left: 202px;
	top: 481px;
	overflow: hidden;
	width: 67px;
	height: 44px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Staff_Card {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 487px;
	top: 749px;
	overflow: visible;
}
#Group_50 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Staff_ID {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A1_Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Staff_Card_A1_Component_14 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 741px;
	top: 749px;
	overflow: visible;
}
#Group_50_A1_Group_99 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A1_Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A1_Text_196 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A1_Text_197 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Staff_ID_A1_Text_198 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A1_Text_199 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A1_Text_200 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A1_Rectangle_73 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A1_Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A1_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A1_Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Staff_Name_ {
	position: absolute;
	left: 180px;
	top: 98px;
	overflow: hidden;
	width: 341px;
	height: 94px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(255,255,255,1);
}