.mediaViewInfo {
	--web-view-name: Student;
	--web-view-id: Student;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Student;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Student {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 2001px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Student;
	--web-view-id: Student;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 2005px;
	height: 117px;
	left: -51px;
	top: 86px;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 2073px;
	left: -31px;
	top: -23px;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1834px;
	height: 86px;
	left: 120px;
	top: 0px;
}
#Component {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 1619px;
	top: 19px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 141px;
	height: 53px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.user {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#James {
	position: absolute;
	left: 63px;
	top: 13px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 126px;
	top: 27px;
	overflow: visible;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A3_Component_2 {
	position: absolute;
	width: 60px;
	height: 27px;
	left: 1810px;
	top: 32px;
	overflow: visible;
}
#Help {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_3_A3_Group_3 {
	position: absolute;
	width: 15px;
	height: 10px;
	left: 45px;
	top: 14px;
	overflow: visible;
}
.Polygon_1_A3_Polygon_2 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 10px;
	transform: translate(35px, -6px) matrix(1,0,0,1,-35,6) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Component_A3_Component_3 {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 1516px;
	top: 19px;
	overflow: visible;
}
.notification {
	position: absolute;
	overflow: visible;
	width: 53px;
	height: 53px;
	left: 0px;
	top: 0px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 31px;
	top: 5px;
}
#Component_A3_Component_4 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 243px;
	overflow: visible;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.house {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Events {
	position: absolute;
	left: 32px;
	top: 78px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Component_A3_Component_5 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 363px;
	overflow: visible;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.calendar {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Calendar {
	position: absolute;
	left: 21px;
	top: 78px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Group_6 {
	position: absolute;
	width: 71.071px;
	height: 40px;
	left: 180px;
	top: 23px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 71.071px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#ID13_30 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Group_5 {
	position: absolute;
	width: 205px;
	height: 40px;
	left: 282px;
	top: 23px;
	overflow: visible;
}
.Path_1_A3_Path_2 {
	overflow: visible;
	position: absolute;
	width: 137px;
	height: 27px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#October_5_2019 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
.help {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 20px;
	top: 30px;
}
#Group_31 {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 483px;
	overflow: visible;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.team {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 35px;
	top: 28px;
}
#Staff {
	position: absolute;
	left: 40px;
	top: 78px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Component_A3_Component_6 {
	position: absolute;
	width: 138px;
	height: 179px;
	left: 213px;
	top: 364px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 19px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 100px;
	height: 120px;
	left: 19px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.add_A3_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 39px;
	top: 30px;
}
.add_A3_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 39px;
	top: 30px;
}
#Create__Student_Profile {
	position: absolute;
	left: 0px;
	top: 120px;
	overflow: hidden;
	width: 139px;
	height: 59px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Search_Bar {
	position: absolute;
	width: 354px;
	height: 48px;
	left: 1516px;
	top: 230px;
	overflow: visible;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 354px;
	height: 48px;
	left: 0px;
	top: 0px;
}
.loupe {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 20px;
	top: 9px;
}
#Student_Name {
	position: absolute;
	left: 65px;
	top: 8px;
	overflow: hidden;
	width: 174px;
	height: 31px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Student_ {
	position: absolute;
	left: 180px;
	top: 98px;
	overflow: hidden;
	width: 219px;
	height: 94px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#Profie_Card {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 437px;
	top: 364px;
	overflow: visible;
}
#Group_51 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Staff_Card {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 691px;
	top: 781px;
	overflow: visible;
}
#Group_51_A3_Group_8 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_16 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_17 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_18 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_19 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_20 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_10 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 945px;
	top: 364px;
	overflow: visible;
}
#Group_51_A3_Group_9 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_21 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_22 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_23 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_24 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_25 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_11 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 945px;
	top: 781px;
	overflow: visible;
}
#Group_51_A3_Group_10 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_26 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_27 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_28 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_29 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_30 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_12 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1199px;
	top: 364px;
	overflow: visible;
}
#Group_51_A3_Group_11 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_31 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_32 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_33 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_34 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_35 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_13 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1199px;
	top: 781px;
	overflow: visible;
}
#Group_51_A3_Group_12 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_36 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_37 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_38 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_39 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_40 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_14 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1453px;
	top: 364px;
	overflow: visible;
}
#Group_51_A3_Group_13 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_41 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_42 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_43 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_44 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_45 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_15 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1453px;
	top: 781px;
	overflow: visible;
}
#Group_51_A3_Group_14 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_46 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_47 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_48 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_49 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_50 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_47 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_16 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 691px;
	top: 364px;
	overflow: visible;
}
#Group_51_A3_Group_15 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_49 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_51 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_52 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_53 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_54 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_55 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_26 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_27 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_28 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_17 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 437px;
	top: 781px;
	overflow: visible;
}
#Group_51_A3_Group_16 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_56 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_57 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_58 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_59 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_60 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_29 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_30 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_31 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_18 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 437px;
	top: 1198px;
	overflow: visible;
}
#Group_51_A3_Group_17 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_55 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_61 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_62 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_63 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_64 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_65 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_56 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_32 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_33 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_34 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Staff_Card_A3_Component_19 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 691px;
	top: 1615px;
	overflow: visible;
}
#Group_51_A3_Group_18 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_66 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_67 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_68 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_69 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_70 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_35 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_36 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_37 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_20 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 945px;
	top: 1198px;
	overflow: visible;
}
#Group_51_A3_Group_19 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_71 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_72 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_73 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_74 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_75 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_38 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_39 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_40 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_21 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 945px;
	top: 1615px;
	overflow: visible;
}
#Group_51_A3_Group_20 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_76 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_77 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_78 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_79 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_80 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_65 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_41 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_42 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_43 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_22 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1199px;
	top: 1198px;
	overflow: visible;
}
#Group_51_A3_Group_21 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_67 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_81 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_82 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_83 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_84 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_85 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_44 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_45 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_46 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_23 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1199px;
	top: 1615px;
	overflow: visible;
}
#Group_51_A3_Group_22 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_86 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_87 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_88 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_89 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_90 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_71 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_47 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_48 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_49 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_24 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1453px;
	top: 1198px;
	overflow: visible;
}
#Group_51_A3_Group_23 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_73 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_91 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_92 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_93 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_94 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_95 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_74 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_50 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_51 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_52 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_25 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 1453px;
	top: 1615px;
	overflow: visible;
}
#Group_51_A3_Group_24 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_76 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_96 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_97 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_98 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_99 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_100 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_77 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_53 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_54 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_55 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_26 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 691px;
	top: 1198px;
	overflow: visible;
}
#Group_51_A3_Group_25 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_101 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_102 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_103 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_104 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_105 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_56 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_57 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_58 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}
#Profie_Card_A3_Component_27 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 437px;
	top: 1615px;
	overflow: visible;
}
#Group_51_A3_Group_26 {
	position: absolute;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_20_A3_Rectangle_82 {
	position: absolute;
	overflow: visible;
	width: 204px;
	height: 367px;
	left: 0px;
	top: 0px;
}
#Name_A3_Text_106 {
	position: absolute;
	left: 34px;
	top: 131px;
	overflow: hidden;
	width: 138px;
	height: 44px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(112,112,112,1);
}
#Email_A3_Text_107 {
	position: absolute;
	left: 34px;
	top: 269px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#ID_A3_Text_108 {
	position: absolute;
	left: 34px;
	top: 175px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#School_A3_Text_109 {
	position: absolute;
	left: 34px;
	top: 214px;
	overflow: hidden;
	width: 160px;
	height: 39px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
#Tel_Number_A3_Text_110 {
	position: absolute;
	left: 34px;
	top: 313px;
	overflow: hidden;
	width: 158px;
	height: 41px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.user_A3_Rectangle_83 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 121px;
	left: 13px;
	top: 10px;
}
.Ellipse_18_A3_Ellipse_59 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 180px;
	top: 7px;
}
.Ellipse_19_A3_Ellipse_60 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 186px;
	top: 7px;
}
.Ellipse_20_A3_Ellipse_61 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 192px;
	top: 7px;
}